.layout {
  margin: 0 auto;
  max-width: 1000px;

  display: grid;
  grid-template-columns: 300px 1fr;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-navigation a {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
}

.main-navigation a.active {
  color: var(--twitter-blue);
}

.main-navigation a svg {
  width: 2rem;
  height: 2rem;
}

.content {
  border-left: 1px solid #ebeef8;
  border-right: 1px solid #ebeef8;
}
